# Ignore everything
*

# Except the theme and workflow
!.github/
!.github/**
!wp-content/
!wp-content/themes/
!wp-content/themes/serpvision/
!wp-content/themes/serpvision/**
!.gitignore

# Re-ignore inside theme
wp-content/themes/serpvision/node_modules/
wp-content/themes/serpvision/.cache/
